In [15]:
# import dependencies
import pandas as pd
import numpy as np 

# specify file path
filepath = "/Users/Brianna/Desktop/JHUmaterials/Submissions/pandas-challenge/HeroesOfPymoli/Resources/purchase_data copy.csv"

# read in csv file as dataframe
purchase_df = pd.read_csv(filepath)

In [16]:
# get familiar with data and display top 5 rows & all columns
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [18]:
##TOTAL PLAYERS
# get total number of unique values listed in "SN" for total player amount
total_players = len(purchase_df['SN'].unique())
total_players
# convert to dataframe format and display
total_players_df = pd.DataFrame({"Total players" : total_players}, index = [0])
total_players_df

   Total players
0            576

In [24]:
##PURCHASE ANALYSIS (TOTAL)
# get number of unique items, average purchase price, total number of purchases, total revenue
unique_item_id = len(purchase_df['Item ID'].unique())
average_price = purchase_df['Price'].mean()
total_purchases = purchase_df['Purchase ID'].count()
revenue = purchase_df['Price'].sum()

purchase_analysis = pd.DataFrame({
                                'No. of Unique Items': unique_item_id, 
                                'Average Price': average_price, 
                                'No. of Purchaces':total_purchases, 
                                'Total Revenue': revenue}, index = [0])
purchase_analysis

   No. of Unique Items  Average Price  No. of Purchaces  Total Revenue
0                  179       3.050987               780        2379.77

In [7]:
##GENDER DEMOGRAPHICS
# percentage and count of male players, female players, other/non-disclosed

In [ ]:
##PURCHASE ANALYSIS (GENDER)
# purchase count, average purchase price, total purchase value, and average purchase total

In [ ]:
##AGE DEMOGRAPHICS
# analyze purchase count, average purchase price, total purchase value, and average purchase total  by creating 4 bins that accurately represent the age data

In [ ]:
##TOP SPENDERS
# get top 5 spenders through total purchase value
# sn, purchase count, average purchase price, total purchase value

In [ ]:
##MOST POPULAR ITEMS
# get top 5 most popular items by purchase count
# list item id, item name, purchase count, item price, total purchase value

In [ ]:
##MOST PROFITABLE ITEMS
# get top 5 most profitable items by total purchase value
# list item id, item name, purchase count, item price, total purchase value