In [1]:
# import dependencies
import pandas as pd
import numpy as np 

# specify file path
filepath = "/Users/Brianna/Desktop/JHUmaterials/Submissions/pandas-challenge/HeroesOfPymoli/Resources/purchase_data copy.csv"

# read in csv file as dataframe
purchase_info = pd.read_csv(filepath)

In [2]:
# get familiar with data and display top 5 rows & all columns
purchase_info.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
##TOTAL PLAYERS
# get total number of unique values listed in "SN" for total player amount
total_players = len(purchase_info['SN'].unique())
total_players
# convert to dataframe format and display
total_players_df = pd.DataFrame({'Total players' : total_players}, index = [0])
total_players_df

   Total players
0            576

In [4]:
##PURCHASE ANALYSIS (TOTAL)
# get number of unique items, average purchase price, total number of purchases, total revenue
unique_item_id = len(purchase_info['Item ID'].unique())
average_price = purchase_info['Price'].mean()
total_purchases = purchase_info['Purchase ID'].count()
revenue = purchase_info['Price'].sum()

purchase_df = pd.DataFrame({
                                'No. of Unique Items': unique_item_id, 
                                'Average Price': average_price, 
                                'No. of Purchaces':total_purchases, 
                                'Total Revenue': revenue}, index = [0])
purchase_df

   No. of Unique Items  Average Price  No. of Purchaces  Total Revenue
0                  179       3.050987               780        2379.77

In [5]:
##GENDER DEMOGRAPHICS
# percentage and count of male players, female players, other/non-disclosed
# group all players by gender
players = purchase_info.groupby('Gender')

# filter unique members in each group
unique_players = players['SN'].nunique()
player_percentage = (unique_players/total_players ) * 100

# create dataframe 
gender_df = pd.DataFrame({
                        'Player Percentage': player_percentage,                              'Gender Totals': unique_players})

gender_df

                       Player Percentage  Gender Totals
Gender
Female                         14.062500             81
Male                           84.027778            484
Other / Non-Disclosed           1.909722             11

In [17]:
##PURCHASE ANALYSIS (GENDER)
# use groupby for gender analysis
gender_groups = purchase_info.groupby('Gender')

# find purchase count, average purchase price, average purchase total (per person)
purchase_count = gender_groups['Age'].count()
average_purchase_price = gender_groups['Price'].mean()
total_purchase_value = gender_groups['Price'].sum()
average_per_person = (gender_groups['Price'].sum()/unique_players)

# add gender analysis results to new dataframe
summary_df = pd.DataFrame({'Purchase Count': purchase_count,
                           'Average Purchase Price': average_purchase_price,
                           'Total Purchase Value': total_purchase_value,
                           'Average Purchase Total Per Person': average_per_person
})

# clean up formatting, add symbols and specify decimal limits
summary_df["Average Purchase Price"] = summary_df["Average Purchase Price"].map("${:.2f}".format)
summary_df["Total Purchase Value"]  = summary_df["Total Purchase Value"].map("${:,.2f}".format)
summary_df["Average Purchase Total Per Person"] = summary_df["Average Purchase Total Per Person"].map("${:.2f}".format)
summary_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [7]:
##AGE DEMOGRAPHICS
# analyze purchase count, average purchase price, total purchase value, and average purchase total  by creating 4 bins that accurately represent the age data

In [8]:
##TOP SPENDERS
# get top 5 spenders through total purchase value
# sn, purchase count, average purchase price, total purchase value

In [9]:
##MOST POPULAR ITEMS
# get top 5 most popular items by purchase count
# list item id, item name, purchase count, item price, total purchase value

In [10]:
##MOST PROFITABLE ITEMS
# get top 5 most profitable items by total purchase value
# list item id, item name, purchase count, item price, total purchase value