In [1]:
##SETUP

# import dependencies
import pandas as pd
import numpy as np 

# specify file path
filepath = '/Resources/purchase_data copy.csv'

# read in csv file as dataframe
purchase_info = pd.read_csv(filepath)

In [2]:
# get familiar with data and display top 5 rows & all columns
purchase_info.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
##TOTAL PLAYERS

# find total unique values listed in 'SN' column 
total_players = len(purchase_info['SN'].unique())
total_players

# convert to dataframe format and display
total_players_df = pd.DataFrame({'Total players' : total_players}, index = [0])
total_players_df

   Total players
0            576

In [4]:
##PURCHASE ANALYSIS (TOTAL)
# get the following info:
    # number of unique items
    # average purchase price
    # total number of purchases
    # total revenue
    
unique_item_id = len(purchase_info['Item ID'].unique())
average_price = purchase_info['Price'].mean()
total_purchases = purchase_info['Purchase ID'].count()
revenue = purchase_info['Price'].sum()

# store above information in a dataframe
purchase_df = pd.DataFrame({'No. of Unique Items': unique_item_id, 
                            'Average Price': average_price, 
                            'No. of Purchaces':total_purchases, 
                            'Total Revenue': revenue}, index = [0])

# display dataframe
purchase_df

   No. of Unique Items  Average Price  No. of Purchaces  Total Revenue
0                  179       3.050987               780        2379.77

In [5]:
##GENDER DEMOGRAPHICS
# percentage and count of male players, female players, other/non-disclosed

# group all players by gender
grouped_gender = purchase_info.groupby('Gender')

# filter unique members within each group
unique_players = grouped_gender['SN'].nunique()
player_percentage = (unique_players/total_players ) * 100

# store above information in dataframe 
gender_df = pd.DataFrame({'Player Percentage': player_percentage,
                          'Gender Totals': unique_players})

# display dataframe
gender_df

                       Player Percentage  Gender Totals
Gender
Female                         14.062500             81
Male                           84.027778            484
Other / Non-Disclosed           1.909722             11

In [6]:
##PURCHASE ANALYSIS (GENDER)

# find purchase count, average purchase price, average purchase total (per person)
purchase_count = grouped_gender['Age'].count()
average_purchase_price = grouped_gender['Price'].mean()
total_purchase_value = grouped_gender['Price'].sum()
average_per_person = (grouped_gender['Price'].sum()/unique_players)

# add gender analysis results to new dataframe
gender_purchase_df = pd.DataFrame({'Purchase Count': purchase_count,
                                   'Average Purchase Price': average_purchase_price,
                                   'Total Purchase Value': total_purchase_value,
                                   'Average Purchase Total Per Person': average_per_person})

# clean up formatting, add symbols and specify decimal limits
gender_purchase_df['Average Purchase Price'] = gender_purchase_df['Average Purchase Price'].map('${:.2f}'.format)
gender_purchase_df['Total Purchase Value']  = gender_purchase_df['Total Purchase Value'].map('${:,.2f}'.format)
gender_purchase_df['Average Purchase Total Per Person'] = gender_purchase_df['Average Purchase Total Per Person'].map('${:.2f}'.format)

# display dataframe
gender_purchase_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [7]:
##AGE DEMOGRAPHICS
# analyze purchase count, average purchase price, total purchase value, and average purchase total  

# create 4 bins to represent data
age_bins = [0, 13.90, 20.90, 28.9, 200]
age_bin_labels = ['<14', '14-21', '22-29', '30+']

# slice data and sort into bins
purchase_info['Age Group'] = pd.cut(purchase_info['Age'], age_bins, labels=age_bin_labels)

# group all players by age
grouped_age = purchase_info.groupby('Age Group')

# within each group, calculate total unique players and player percentage
unique_players = grouped_age['SN'].nunique()
player_percentage = (unique_players/total_players)*100

# add above results to new dataframe
age_demographics = pd.DataFrame({'Percentage of Players': player_percentage,
                                 'Total Player Count': unique_players})

# clean up formatting, set index to none, specify decimal limits 
age_demographics.index.name = None
age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map('{:.2f}'.format)

# display dataframe
age_demographics

      Percentage of Players  Total Player Count
<14                    6.42                  37
14-21                 30.90                 178
22-29                 44.44                 256
30+                   18.23                 105

In [8]:
##TOP SPENDERS

# group players by screen name
grouped_SN = purchase_info.groupby('SN')

# calculate purchase count, avg. purchase price, total purchase value 
purchase_count = grouped_SN['Age'].count()
avg_purchase_price = grouped_SN['Price'].mean()
total_purchase_value = grouped_SN['Price'].sum()

# add above results to new dataframe
top_spenders = pd.DataFrame({'Purchase Count': purchase_count,
                             'Average Purchase Price': avg_purchase_price,
                             'Total Purchase Value': total_purchase_value})

# clean up formatting and sort purchase column in descending order
top_spenders = top_spenders.sort_values('Total Purchase Value', ascending = False)
top_spenders['Average Purchase Price'] = top_spenders['Average Purchase Price'].map('${:.2f}'.format)
top_spenders['Total Purchase Value']  = top_spenders['Total Purchase Value'].map('${:,.2f}'.format)

# display dataframe
top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [9]:
##MOST POPULAR ITEMS
# get top 5 most popular items by purchase count

# get item id, item name, item price
popular_items = purchase_info.loc[:, ['Item ID', 'Item Name', 'Price']]

# group items by id and name 
grouped_items = purchase_info.groupby(['Item ID', 'Item Name'])

# calculate purchase count, item price, and total purchase value
purchase_count = grouped_items['Age'].count()
avg_purchase_price = grouped_items['Price'].mean()
total_purchase_value = grouped_items['Price'].sum()

# add above results to dataframe
popular_items = pd.DataFrame({'Purchase Count': purchase_count,
                              'Average Purchase Price': avg_purchase_price,
                              'Total Purchase Value': total_purchase_value})

# clean up formatting and sort purchase count column in descending order
popular_items = popular_items.sort_values('Purchase Count', ascending = False)
popular_items['Total Purchase Value']  = popular_items['Total Purchase Value'].map('${:,.2f}'.format)
popular_items['Average Purchase Price'] = popular_items['Average Purchase Price'].map('${:.2f}'.format)

# display dataframe
popular_items.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [10]:
##MOST PROFITABLE ITEMS
# get top 5 most profitable items by total purchase value

# calculate purchase count, item price, total purchase value
purchase_count = grouped_items['Age'].count()
avg_purchase_price = grouped_items['Price'].mean()
total_purchase_value = grouped_items['Price'].sum()

# add above results to new dataframe
profitable_items = pd.DataFrame({'Purchase count': purchase_count,
                                 'Average Purchase Price': avg_purchase_price,
                                 'Total Purchase value': total_purchase_value})

# clean up formatting and sort purchase value column in descending order
profitable_items = profitable_items.sort_values('Total Purchase value', ascending = False)
profitable_items['Total Purchase value']  = profitable_items['Total Purchase value'].map('${:,.2f}'.format)
profitable_items['Average Purchase Price'] = profitable_items['Average Purchase Price'].map('${:.2f}'.format)

# display dataframe
profitable_items.head()

,,Purchase count,Average Purchase Price,Total Purchase value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80